/*Basic project styles*/
.view{
  margin: 40px auto
}
ul li {
  list-style-type: none;
}

/*Stadium component styling*/
.stadiums-img{
  width: 290px;
  height: 200px;
  overflow: hidden;
}

.stadiums-img img{
  height: 200px;
  width: 290px;
}

/*Stadium component styling*/
.stadium-header,
.stadium-stats{
  margin: 20px auto;
}

.stadium-header h1.ui.header{
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 0;
}

 .stadium-header h3.ui.header{
   line-height: 20px;
   margin-top: 10px;
   margin-bottom: 20px;
 }

 /*Checkin and Comments styling*/
.checkin-form{
  margin: 20px 0 40px 0;
}
.checkin-comment{
  margin: 10px auto;
}
